In [1]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 10)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.0     ✔ rsample      1.0.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ infer        1.0.2     ✔ workflows    1.0.0
✔ modeldata    1.0.0     ✔ workflowsets 1.0.0
✔ parsnip      1.0.0     ✔ yardstick    1.0.0
✔ recipes      1.0.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/

In [2]:
read_csv("indian_liver_patient.csv")

Rows: 583 Columns: 11
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): Gender
dbl (10): Age, Total_Bilirubin, Direct_Bilirubin, Alkaline_Phosphotase, Alam...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    Age Gender Total_Bilirubin Direct_Bilirubin Alkaline_Phosphotase
1   65  Female  0.7            0.1              187
2   62  Male   10.9            5.5              699
3   62  Male    7.3            4.1              490
4   58  Male    1.0            0.4              182
5   72  Male    3.9            2.0              195
⋮   ⋮   ⋮      ⋮               ⋮                ⋮
579 60  Male   0.5             0.1              500
580 40  Male   0.6             0.1               98
581 52  Male   0.8             0.2              245
582 31  Male   1.3             0.5              184
583 38  Male   1.0             0.3              216
    Alamine_Aminotransferase Aspartate_Aminotransferase Total_Protiens Albumin
1   16                        18                        6.8            3.3
2   64                       100                        7.5            3.2
3   60                        68                        7.0            3.3
4   14                        20                        6.8            3.4
5   27                        59                        7.3            2.4
⋮   ⋮                        ⋮                          ⋮              ⋮
579 20                       34                         5.9            1.6
580 35                       31                         6.0            3.2
581 48                       49                         6.4            3.2
582 29                       32                         6.8            3.4
583 21                       24                         7.3            4.4
    Albumin_and_Globulin_Ratio Dataset
1   0.90                       1
2   0.74                       1
3   0.89                       1
4   1.00                       1
5   0.40                       1
⋮   ⋮                          ⋮
579 0.37                       2
580 1.10                       1
581 1.00                       1
582 1.00                       1
583 1.50                       2