# Heart Disease Prediction

## 1. Introduction

**Research Question:**  *How accurately can the health factors ___ predict if a person has heart disease?*

## 2. Preliminary Data Analysis

### Loading Libraries

In [9]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

### Importing Data

In [11]:
link <- "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data"
untidy_cleveland <- read_csv(link, col_names = FALSE)
untidy_cleveland

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): X12, X13
dbl (12): X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    X1 X2 X3 X4  X5  X6 X7 X8  X9 X10 X11 X12 X13 X14
1   63 1  1  145 233 1  2  150 0  2.3 3   0.0 6.0 0
2   67 1  4  160 286 0  2  108 1  1.5 2   3.0 3.0 2
3   67 1  4  120 229 0  2  129 1  2.6 2   2.0 7.0 1
⋮   ⋮  ⋮  ⋮  ⋮   ⋮   ⋮  ⋮  ⋮   ⋮  ⋮   ⋮   ⋮   ⋮   ⋮
301 57 1  4  130 131 0  0  115 1  1.2 2   1.0 7.0 3
302 57 0  2  130 236 0  2  174 0  0.0 2   1.0 3.0 1
303 38 1  3  138 175 0  0  173 0  0.0 1   ?   3.0 0

### Data Cleaning

#### Definitions

### Splitting into Training and Testing Sets

### Data Analysis

## 3. Methods

## 4. Expected outcomes and significance

## 5. Sources

Detrano, R. (1990). *Cleveland* [Data set]. V.A. Medical Center, Long Beach and Cleveland Clinic Foundation.      
     https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data